<div>
<p>Groovy スクリプトからの戻り値をラベル式として評価します。</p>
<ul>
    <li>String型でない値は toString() で文字列に変換します。</li>
    <li>null か 空白文字列 が返却された場合、実行するノードの制限を行いません (もしくは実行するノードの制限の指定を Groovy Label Assignment plugin で上書きしません)。</li>
    <li>例外が発生したり、文字列がラベル式として評価できない場合、ビルドをキャンセルします。</li>
</ul>
<br>
<p>以下の変数をバインドし、Groovyスクリプトからアクセスできるようにします。ただし、特定の変数が設定されなかったり、おかしな値が設定される場合があるかもしれません。
これはGroovyスクリプトの実行時点で、まだビルドが実際には始まっていないため各種の値の取得処理に制限があるためです。</p>
<ul>
    <li>「ビルドのパラメータ化」で指定したパラメータ</li>
    <li>マルチ構成プロジェクトで定義した軸</li>
    <li>その他のプラグインで定義される変数</li>
</ul>
<br>
<p>以下にGroovyスクリプトの例を記載します。</p>
<code style="white-space: pre-wrap;">
Example1-----------------------------------------------------------------------------
// 「ビルドのパラメータ化」で定義した値は通常のローカル変数等と同様にアクセスできます。
if(is_test == "true")
{
    // "debug_node" のラベルが付いたノードを使用する
    return "debug_node";
}
// ノードの制限を行わない。
// 「実行するノードを制限」を設定している場合、その値が使用されます。
return null;

Example2-----------------------------------------------------------------------------
// マルチ構成プロジェクトで定義した軸の値もバインドされます。
// ただし、マルチ構成プロジェクトの親ビルドでは値が定義されないため、 
// 参照するときは  binding.getVariables().get(VARNAME) という形でアクセスしないと、
// ローカル変数同様にアクセスすると未定義エラーで例外が発生します。
switch(binding.getVariables().get("target"))
{
    case "Win32":
    case "Win64":
        // run on Windows.
        return "Windows";
    case "Linux32":
    case "Linux64":
        // run on Linux.
        return "Linux";
}
</code>
</div>
